<header class="navbar navbar-default navbar-static-top" style="background-color: gray;">
    <div class="row">
        <div class="col-md-6">
            <div class="logo">ET Expenses tracker</div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="pull-right" style="padding-top: 8px; margin-right: 10px">
                <span style="color: white;"><%= user.email %> (<%= user.role %>)</span>
                <button type="button" class="btn btn-default" id="logout_btn">Logout</button>
            </div>
        </div>
    </div>
</header>
<ul class="nav nav-tabs">
  <li role="presentation" class="active" id="expenses_btn"><a href="#">Expenses</a></li>
  <% if (user.role != 'regular') { %>
  <li role="presentation" id="users_btn"><a href="#">Users</a></li>
  <% } %>
</ul>
<div class="panel">
    <div class="panel-body">
        <div id="dashboard_content"></div>
    </div>
</div>