<form>
  <div class="form-group">
    <label for="amount_input">Amount</label>
    <input type="number" class="form-control" placeholder="Enter Amount" id="amount_input" value="<%= amount %>">
  </div>
  <div class="form-group">
    <label for="description_input">Description</label>
    <input type="text" class="form-control" id="description_input" placeholder="Enter short description" value="<%= description %>">
  </div>
  <div class="form-group">
    <label for="comment_input">Comment</label>
    <textarea class="form-control" rows="3" id="comment_input"><%= comment %></textarea>
  </div>
  <div class="form-group">
    <label for="transaction_dt_input">Date</label>
    <input type="text" class="form-control" id="transaction_dt_input" placeholder="Enter transaction date" value="<%= transaction_dt %>">
  </div>
  <button type="submit" class="btn btn-default" id="save_button">Save</button>
</form>