<div class="span12 pagination-centered">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3>
  </div>
  <div class="panel-body">
      <form>
  <div class="form-group">
    <label for="email_input">Email address</label>
    <input type="email" class="form-control email_input" placeholder="Email">
    <div class="alert alert-danger hidden email_input_error" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span>Enter a valid email address</span>
    </div>
  </div>
  <div class="form-group">
    <label for="password_input">Password</label>
    <input type="password" class="form-control password_input" placeholder="Password">
    <div class="alert alert-danger hidden password_input_error" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span>Please enter password</span>
    </div>
  </div>
  <div class="alert alert-danger hidden auth_failed_widget" role="alert">Username or password are wrong!</div>
  <button type="submit" class="btn btn-primary">Login</button>
  <button type="button" class="btn btn-default signup_btn">Signup</button>
</form>
  </div>
</div>
</div>