{% load staticfiles %}
<html>
    <head>
        <title>Expenses tracker report</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'app/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
        <h1>Expenses Tracker Report</h1>
        <h3>User: {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</h3>
        <h3>Report date: {% now "d/m/Y H:i" %}</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
            {% for g in groups %}
                <tr class="info">
                    <td colspan="4"><strong>{{ g.caption }}</strong></td>
                </tr>
                {% for item in g.expenses %}
                <tr>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.transaction_dt|date:"d/m/Y H:i" }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.comment }}</td>
                </tr>
                {% endfor %}
                <tr class="active">
                    <td colspan="4"><italic>Total: {{ g.total }}, Average {{ g.average }}</italic></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
